.paytable {
    background-color: #020777;
    color: yellow;
    border: 1px solid;
    border-color: yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    width: 72%;
    table-layout: fixed;
    border-collapse: collapse;
}

td, th {
    border-right: 1px solid;
}

.winning-hand {
    background-color: green;
    color: white;
}