.cardAndHold {
    display: flex;
    flex-direction: column;
    padding-right: 8px;
    padding-left: 8px;
    align-items: center;
}

.cardAndHold img {
    width: 90%;
    height: auto;
    padding-bottom: 10%;
    transition: transform .25s;
}

.cardAndHold img:hover {
    transform: scale(1.1);
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 10%;
    padding-right: 10%;
}

.betButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100vw;
    margin-right: 23%;
}

button {
    transition: transform .25s;
    outline: none;
}

button:hover {
    transform: scale(1.1);
}

.holdButton {
    border-style: none;
    border-radius: 5px;
    padding: 5% 25%;
    background-color: yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.heldButton {
    border-style: none;
    border-radius: 5px;
    padding: 5% 25%;
    background-color: red;
    color: #dddddd;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.gameButton {
    border: none;
    margin-left: 10%;
    margin-right: 10%;
}

.chipCounter {
    color: yellow;
    margin-right: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.betButton {
    margin-left: 4px;
    margin-right: 4px;
    width: 10%;
    border-style: none;
    border-radius: 5px;
    background-color: yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pokerGame {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: blue;
}

.gameItem {
    padding-top: 8px;
}